<div class="chart-container">
  <div #summary
       class="summary"
       (click)="onClick($event)"
       (mousedown)="onHoldStart()"
       (mouseleave)="onHoldEnd()"
       (mouseup)="onHoldEnd()">
    <div class="chart-options" [ngClass]="{'show': isMenuActive}">
      <app-button
        width="1rem"
        id="b-series-menu-return"
        borderRadius="50%"
        aspectRatio="1/1"
        [colors]="['#ffc400', '#bfec00']"
        (click)="isMenuActive = false"
      >
        <fa-icon size="sm" [icon]="faArrowLeft"></fa-icon>
      </app-button>
      <app-button
        width="1rem"
        id="b-series-menu-edit"
        borderRadius="50%"
        aspectRatio="1/1"
        [colors]="['#00ffa5', '#0057fd']"
      >
        <fa-icon size="sm" [icon]="faPencil"></fa-icon>
      </app-button>
      <app-button
        width="1rem"
        id="b-series-menu-delete"
        borderRadius="50%"
        aspectRatio="1/1"
        [colors]="['#f600ff', '#ff0000']"
      >
        <fa-icon size="sm" [icon]="faTrash"></fa-icon>
      </app-button>
    </div>
    <div class="info-container">
      <h3> {{ chartData.name }} </h3>
      <div class="series-info">
        <div> <fa-icon [icon]="faClock"></fa-icon> {{ chartData.timeInMinutes }} Minutes </div>
        <div> <fa-icon [icon]="faFire"></fa-icon> {{ chartData.kcal }} Kcal </div>
        <div> <fa-icon [icon]="faRunning"></fa-icon> {{ chartData.exercises.length }} Exercícios </div>
      </div>
    </div>
    <app-button
      class="play-button"
      padding="30px"
      id="b-start-training"
      borderRadius="20px"
      aspectRatio="1/1"
    >
      <fa-icon [icon]="faPlay"></fa-icon>
    </app-button>
  </div>
  <div class="exercise-list" [ngClass]="{'show': isExerciseListActive}">
    <table>
      <tr>
        <th>Exercício</th> <th class="table-center">Séries</th> <th class="table-center">Repetições</th>
      </tr>
      <tr *ngFor="let exercise of chartData.exercises">
        <td>{{exercise.name}}</td> <td class="table-center" >{{exercise.series}}</td> <td class="table-center">{{exercise.repetitions}}</td>
      </tr>
    </table>
  </div>
</div>
