<div class="form-card">
  <h2 class="title">Criar Conta</h2>

  <div class="welcome">
    <h2> Vamos Lá! </h2>
  </div>

  <div class="form-container">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" method="POST">
      <div class="flex flex-column gap-2">
        <label for="fullName">Nome Completo</label>
        <input 
          class="input-contrast rounded" 
          pInputText 
          id="fullName" 
          formControlName="fullName"
          [ngClass]="{'ng-invalid': registerForm.get('fullName')?.invalid && registerForm.get('fullName')?.touched, 'ng-dirty': registerForm.get('fullName')?.dirty}" 
        />
        <div *ngIf="registerForm.get('fullName')?.invalid && registerForm.get('fullName')?.touched" class="error-message">
          <small *ngIf="registerForm.get('fullName')?.hasError('required')">Nome completo é obrigatório.</small>
          <small *ngIf="registerForm.get('fullName')?.hasError('minlength')">Nome completo deve ter pelo menos 3 caracteres.</small>
        </div>
      </div>

      <div class="flex flex-column gap-2">
        <label for="email">Email</label>
        <input 
          class="input-contrast rounded" 
          pInputText 
          id="email" 
          formControlName="email"
          [ngClass]="{'ng-invalid': registerForm.get('email')?.invalid && registerForm.get('email')?.touched, 'ng-dirty': registerForm.get('email')?.dirty}" 
        />
        <div *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.touched" class="error-message">
          <small *ngIf="registerForm.get('email')?.hasError('required')">Email é obrigatório.</small>
          <small *ngIf="registerForm.get('email')?.hasError('email')">Email inválido.</small>
        </div>
      </div>

      <div class="flex flex-column gap-2">
        <label for="senha">Senha</label>
        <input 
          class="input-contrast rounded" 
          type="password" 
          pPassword 
          pInputText 
          id="senha" 
          formControlName="password"
          [ngClass]="{'ng-invalid': registerForm.get('password')?.invalid && registerForm.get('password')?.touched, 'ng-dirty': registerForm.get('password')?.dirty}" 
        />
        <div *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.touched" class="error-message">
          <small *ngIf="registerForm.get('password')?.hasError('required')">Senha é obrigatória.</small>
          <small *ngIf="registerForm.get('password')?.hasError('minlength')">A senha deve ter pelo menos 6 caracteres.</small>
        </div>
      </div>

      <div class="flex flex-column gap-2">
        <label for="confirmPassword">Confirmar Senha</label>
        <input 
  class="input-contrast rounded" 
  type="password" 
  autocomplete="off" 
  pInputText 
  id="confirmPassword" 
  formControlName="confirmPassword"
  [ngClass]="{
    'ng-invalid': registerForm.get('confirmPassword')?.invalid && registerForm.get('confirmPassword')?.touched,
    'ng-valid': registerForm.get('confirmPassword')?.valid && registerForm.get('confirmPassword')?.touched,
    'ng-dirty': registerForm.get('confirmPassword')?.dirty
  }" 
/>
        <div *ngIf="registerForm.get('confirmPassword')?.invalid && registerForm.get('confirmPassword')?.touched" class="error-message">
          <small *ngIf="registerForm.get('confirmPassword')?.hasError('required')">Confirmação de senha é obrigatória.</small>
          <small *ngIf="registerForm.get('confirmPassword')?.hasError('mismatch')">As senhas não coincidem.</small>
        </div>
      </div>

    </form>
  </div>
  <app-button id="b-register" class="app-button" type="submit" (click)="onSubmit()" [disabled]="registerForm.invalid">Cadastrar-se</app-button>

  <p class="text-link text-center privacy-terms">
    <span>
      Ao continuar, você concorda com nossos
      <a class="hyperlink" href="terms-of-use" title="termos de uso">Termos de Uso</a> 
      e 
      <a class="hyperlink" href="privacy-policy" title="politicas de privacidade">Políticas de Privacidade</a>
    </span>
  </p>

  <p class="text-link to-login text-center">
    <span> Já possui uma conta?&nbsp;<a class="hyperlink" [routerLink]="['/user', 'login']" title="ir para login">Entre na sua conta </a> </span>
  </p>
</div>

<p-toast></p-toast>
