<app-svg-generator
  [waveHeight]="200"
  [width]="'200%'"
  [height]="'25%'"
  [count]="20"
  [thickness]="4"
  id="w-login-t"
  displacement="fasterTop"
  class="wave-background-top">
</app-svg-generator>
<h2 class="title">Log In</h2>

<div class="welcome">
  <h2> Bem vindo </h2>
  <span>
    prossiga com o login para utilizar nosso aplicativo
  </span>
</div>

<div class="form-container">
  <form method="POST">
    <div class="flex flex-column gap-2">
      <label for="email">email</label>
      <input class="input-contrast" pInputText id="email" />
    </div>
    <div class="flex flex-column gap-2">
      <label for="senha">senha</label>
      <input class="input-contrast" type="password" pInputText pPassword id="senha" />
    </div>
    <a href="/recovery" class="password-recovery-link">
      equeceu sua senha?
    </a>
  </form>
</div>
<app-button id="b-login" class="app-button">Entrar</app-button>
<app-svg-generator
  [waveHeight]="200"
  [width]="'200%'"
  [height]="'25%'"
  [count]="20"
  [thickness]="4"
  [invertColors]="true"
  id="w-login-b"
  displacement="fasterTop"
  class="wave-background-bottom">
</app-svg-generator>

