// Variables for colors and spacing
$black: var(--black);
$white: var(--white);
$yellow: var(--yellow);
$darker-blue: var(--darker-blue);

@mixin glow($position, $glow-height, $opacity) {
  content: '';
  opacity: $opacity;
  position: absolute;
  z-index: -1;
  height: $glow-height;
  left: -10%;
  width: 120%;
  background-image:
    radial-gradient(
        var(--yellow) 0%,
        rgba(0, 0, 0, 0) 80%,
        rgba(0, 0, 0, 0) 100%
    );
  overflow: visible;

  @if ($position == 'top') {
    top: calc(($glow-height / 2) * -1);
  }
  @if ($position == 'bottom') {
    bottom: calc(($glow-height / 2) * -1);
  }
}

@mixin wave-background-absolute($position) {

  $verticalDisplacement: -20%;
  $horizontalDisplacement: -25%;

  position: absolute !important;
  transform: rotateZ(-20deg);
  z-index: -1;

  @if ($position == 'top') {
    top: $verticalDisplacement;
    left: $horizontalDisplacement
  }
  @if ($position == 'bottom') {
    bottom: $verticalDisplacement;
    right: $horizontalDisplacement
  }
}

:host {
  width: 100vw;
  height: 100vh;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;

  .title {
    margin-top: 23px;
    font-weight: 700;
    color: var(--yellow);
  }

  .welcome {

    color: var(--white);
    text-align: center;

    h2 {
      font-weight: 600;
    }

    span {

    }

  }

  .form-container {

    $glow-height: 40px;
    $glow-opacity: 0.2;

    padding: 40px 0;
    background-color: var(--black);
    width: 100%;
    overflow: visible;
    position: relative;
    border-top: 1px solid var(--yellow);
    border-bottom: 1px solid var(--yellow);

    &, * {
      display: inline-flex;
      flex-direction: column;
    }

    &:before {
      @include glow('top', $glow-height, $glow-opacity);
    }

    &:after {
      @include glow('bottom', $glow-height, $glow-opacity);
    }

    form {
      gap: 15px;
      margin: 0 30px;

      .password-recovery-link {
        display: inline-flex;
        font-size: 0.8rem;
        font-weight: 300;
        width: 100%;
        align-items: end;
        color: var(--yellow);
      }

    }

    label {
      color: var(--white);
    }
  }

  .app-button {
    margin: 30px 0;
  }

  .wave-background-bottom {
    @include wave-background-absolute('bottom');
  }
  .wave-background-top {
    @include wave-background-absolute('top');
    .wave-layer {
      filter: blur(3px) !important;
    }
  }
}
