<div class="time-container">
  <fa-icon
    class="stopwatch-icon"
    [ngStyle]="{
      'font-size': ((isEditing ? editingFontSize : fontSize) / 1.4) + 'rem'
    }"
    [icon]="faStopwatch"
  >
  </fa-icon>
  <app-number-selector
    [number]="dividedTime[3]"
    [index]="3"
    [maxLimit]="6"
    [fontSize]="(isEditing ? editingFontSize : fontSize)"
    [showButtons]="isEditing"
    [padding]="isEditing ? ('0 ' + ((isEditing ? editingFontSize : fontSize) / 1.5) + 'rem') : '0'"
    (numberOutput)="handleNumberChange($event)"
  >
  </app-number-selector>
  <app-number-selector
    [number]="dividedTime[2]"
    [index]="2"
    [maxLimit]="6"
    [fontSize]="(isEditing ? editingFontSize : fontSize)"
    [showButtons]="isEditing"
    [padding]="isEditing ? ('0 ' + ((isEditing ? editingFontSize : fontSize) / 1.5) + 'rem') : '0'"
    (numberOutput)="handleNumberChange($event)"
  >
  </app-number-selector>
  <p [ngStyle]="{'font-size': (isEditing ? editingFontSize : fontSize) + 'rem'}"> : </p>
  <app-number-selector
    [number]="dividedTime[1]"
    [index]="1"
    [maxLimit]="6"
    [fontSize]="(isEditing ? editingFontSize : fontSize)"
    [showButtons]="isEditing"
    [padding]="isEditing ? ('0 ' + ((isEditing ? editingFontSize : fontSize) / 1.5) + 'rem') : '0'"
    (numberOutput)="handleNumberChange($event)"
  >
  </app-number-selector>
  <app-number-selector
    [number]="dividedTime[0]"
    [index]="0"
    [maxLimit]="6"
    [fontSize]="(isEditing ? editingFontSize : fontSize)"
    [showButtons]="isEditing"
    [padding]="isEditing ? ('0 ' + ((isEditing ? editingFontSize : fontSize) / 1.5) + 'rem') : '0'"
    (numberOutput)="handleNumberChange($event)"
  >
  </app-number-selector>
  <div
    *ngIf="!isEditing"
    class="edit-button"
    [ngStyle]="{

      'padding': ((isEditing ? editingFontSize : fontSize) / 2.1) + 'rem'
    }"
    (click)="edit()"
  >
    <fa-icon [ngStyle]="{'font-size': ((isEditing ? editingFontSize : fontSize) / 1.3) + 'rem'}" [icon]="faPencil"></fa-icon>
  </div>
  <div
    *ngIf="isEditing"
    class="confirm-button"
    [ngStyle]="{
      'padding': ((isEditing ? editingFontSize : fontSize) / 2.1) + 'rem'
    }"
    (click)="confirmEdit()"
  >
    <fa-icon [ngStyle]="{'font-size': ((isEditing ? editingFontSize : fontSize) / 1.3) + 'rem'}" [icon]="faCheck"></fa-icon>
  </div>
</div>
