<app-svg-generator
  [waveHeight]=this.waveHeight
  [count]=this.count
  [thickness]=this.thickness
  [blur]=this.blur
  [speed]=this.speed
  [opacity]=this.opacity
  id="w-login-t"
  [displacement]=this.displacement
  [width]=this.width
  [height]=this.heightValue
  [invertColors]="true"
  class="wave-background-top">
</app-svg-generator>

<router-outlet style="display: none"></router-outlet>
<p-toast></p-toast>

<app-svg-generator
  [waveHeight]=this.waveHeight
  [count]=this.count
  [thickness]=this.thickness
  [blur]=this.blur
  [speed]=this.speed
  [opacity]=this.opacity
  id="w-login-b"
  [displacement]=this.displacement
  [width]=this.width
  [height]=this.heightValue
  class="wave-background-bottom">
</app-svg-generator>
