<div class="form-card compact">
  <h2 class="title">
    <a [routerLink]="['/user', 'recovery']" class="return-button"> ◀ </a>Nova
    Senha
  </h2>

  <div class="header">
    <span>Digite a sua nova senha</span>
  </div>

  <div class="form-container">
    <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()" method="POST">
      <div class="flex flex-column gap-2">
        <label for="password">Nova Senha</label>
        <input
          class="input-contrast rounded"
          type="password"
          pPassword
          pInputText
          id="password"
          formControlName="password"
        />
        <!-- Error messages for password field -->
        <div *ngIf="passwordForm.get('password')?.invalid && passwordForm.get('password')?.touched" class="error-message">
          <small *ngIf="passwordForm.get('password')?.hasError('required')">
            Senha é obrigatória.
          </small>
          <small *ngIf="passwordForm.get('password')?.hasError('minlength')">
            A senha deve ter pelo menos 8 caracteres.
          </small>
          <small *ngIf="passwordForm.get('password')?.hasError('upperCase')">
            A senha deve ter pelo menos uma letra maiúscula.
          </small>
          <small *ngIf="passwordForm.get('password')?.hasError('number')">
            A senha deve ter pelo menos um número.
          </small>
          <small *ngIf="passwordForm.get('password')?.hasError('specialChar')">
            A senha deve ter pelo menos um caractere especial.
          </small>
        </div>
      </div>

      <div class="flex flex-column gap-2">
        <label for="confirmPassword">Confirmar Senha</label>
        <input
          class="input-contrast rounded"
          type="password"
          autocomplete="off"
          pInputText
          id="confirmPassword"
          formControlName="confirmPassword"
        />
        <!-- Error messages for confirmPassword field -->
        <div *ngIf="passwordForm.get('confirmPassword')?.invalid && passwordForm.get('confirmPassword')?.touched" class="error-message">
          <small *ngIf="passwordForm.get('confirmPassword')?.hasError('required')">
            Confirmação de senha é obrigatória.
          </small>
          <small *ngIf="passwordForm.get('confirmPassword')?.hasError('mismatch')">
            As senhas não coincidem.
          </small>
        </div>
      </div>

    </form>
  </div>
  <app-button
    id="b-register"
    class="app-button"
    type="submit"
    (click)="onSubmit()"
    [disabled]="passwordForm.invalid"
  >
    Atualizar Senha
  </app-button>
</div>