<div class="form-card compact">
  <h2 class="title"> <a [routerLink]="['/auth', 'recovery']" class="return-button"> ◀ </a>Nova Senha</h2>

  <div class="welcome">
    <span>
      Digite a sua nova senha
    </span>
  </div>

  <div class="form-container">
    <form method="POST">
      <div class="flex flex-column gap-2">
        <label for="senha">Nova Senha</label>
        <input class="input-contrast" type="password" pPassword pInputText id="senha" />
      </div>
      <div class="flex flex-column gap-2">
        <label for="confirmPassword">Confirmar Senha</label>
        <input class="input-contrast" type="password" autocomplete="off" pInputText id="confirmPassword" />
      </div>
    </form>
  </div>

  <app-button id="b-register" class="app-button">Atualizar Senha</app-button>

</div>

