<div
  #exerciseContainer
  class="exercise-container"
  (click)="clickable && OnClick($event)"
  (click)="onPlay(exercise.id)"
  [ngStyle]=
    "{
      'border': showBorder ? '1px solid var(--yellow)' : 'none',
      'pointer-events': clickable ? 'auto' : 'none'
    }"
>
  <img class="thumbnail" alt=" " [ngSrc]="thumbnailUrl || 'AAAA'" width="60" height="60">
  <div class="exercise-info">
    <div
      [ngStyle]=
        "{
          'font-size': nameSize,
          'flex-direction': showMuscles ? 'row' : 'column',
          'justify-content': showMuscles ? 'space-between' : 'start'
        }"
      class="header">
      <h4>{{ exercise.name }}</h4>
      <span> {{ exercise.time }} <fa-icon [icon]="faClock"></fa-icon> </span>
    </div>

    <div class="muscles-details" *ngIf="showMuscles">
      <div class="flex flex-column">
        <h6> Músculos: </h6>
        <div class="muscles-grid">
          <span>{{ exercise.category }}</span>
        </div>
      </div>
      <div class="flex flex-column">
      <h6> Descrição: </h6>
      <div class="muscles-grid">
        <span>{{ exercise.description }}</span>
      </div>
    </div>
    </div>
  </div>

</div>
