<div class="exercise-execution-info-container">
  <div class="media-container">
    <div class="expand">
      <div class="video"></div>
    </div>
    <div class="info">
      <img *ngIf="false" src="'AA'" alt=" ">
      <div class="name">
        <h4> {{ exercise.name }} </h4>
        <div class="exercise-info">
          <h4> {{exercise.series}} Series </h4>
          <h4> {{exercise.repetitions}} <fa-icon [icon]="faRepeat"></fa-icon> </h4>
        </div>
      </div>
    </div>
  </div>

  <app-exercise-progress-bar
    [exerciseExecution]="exerciseExecution"
    padding="30px 35px">

  </app-exercise-progress-bar>

  <div class="button-container">
    <div class="previous button"> <fa-icon [icon]="faBackwardStep"></fa-icon>  </div>
    <div class="drawer-container button">
      <div class="hamburger"> <fa-icon [icon]="faBars"></fa-icon> </div>
      <div class="next">
        <span> próximo: </span>
        <div class="next-exercise">
          <!--        TODO: Colocar o nome do próximo exercício no <h5>      -->
          <!--        TODO: tirar a quebra de texto a adicionar deslizamento do texto no overflow -->
          <h5 class="next-name"> Nome do Próximo </h5>
        </div>
      </div>

    </div>
    <div class="play button" (click)="startExercise()"> <fa-icon [icon]="faPlay"></fa-icon> </div>
    <div class="next button"> <fa-icon [icon]="faForwardStep"></fa-icon> </div>
  </div>
</div>
<div *ngIf="isShowingTimers" class="timer-screen">
  <div class="exercise-numbers-container">
    <div class="numbers">
      <div *ngIf="exerciseTimerState === 'stopped'" class="weight-n-rep">
        <app-number-editor
          [isEditing]="true"
          [fontSize]="1.5"
          [number]="currentRepetitions || exercise.repetitions"
          [icon]="faRepeat"
          (numberOutput)="repetitionOutput($event)"
        >
        </app-number-editor>
        <app-number-editor
          [fontSize]="1.5"
          [number]="currentWeight"
          [icon]="faDumbbell"
          (numberOutput)="weightOutput($event)"
        >
        </app-number-editor>
      </div>
      <div class="timer-container">
        <app-time-editor *ngIf="exerciseTimerState === 'stopped'" [fontSize]="1.5" [milliseconds]="finalExerciseTime">
        </app-time-editor>
        <app-timer
          *ngIf="isShowingBreakTimer()"
          [initialTimerValue]="0"
          [isMilliseconds]="false"
          [showMinutes]="true"
          [fontSize]="4"
          [timerState]="breakTimerState"
          [showSnoozeIcon]="true"
          [color]="'#ffc148'"
          (timerValueChange)="onBreakTimerValueChange($event)"
        ></app-timer>
        <app-timer
          *ngIf="exerciseTimerState !== 'stopped'"
          [initialTimerValue]="initialTime"
          [isMilliseconds]="true"
          [fontSize]="isShowingBreakTimer() ? 2 : 4"
          [timerState]="exerciseTimerState"
          [icon]="faStopwatch"
          (timerValueChange)="onExerciseTimerValueChange($event)"
        ></app-timer>
      </div>
    </div>

    <div class="buttons">
      <div class="left">
        <app-button
          [isEnabled]="(exerciseTimerState === 'stopped' || exerciseTimerState === 'paused') && exerciseTimer != initialTime"
          id="b-reset-timer"
          [colors]="['#0028ff', '#ff00a4', '#ffcc00']"
          [wrapContent]="true"
          width="3em"
          borderRadius="50%"
          aspectRatio="1/1"
          (click)="((exerciseTimerState === 'stopped' || exerciseTimerState === 'paused') && exerciseTimer != initialTime) && resetTimer()"
          padding="0"
        >
          <fa-icon size="2x" [icon]="faRotateLeft"></fa-icon>
        </app-button>
        <app-button
          *ngIf="exerciseTimerState === 'paused' || exerciseTimerState === 'reset'"
          id="b-play-timer"
          [colors]="['#34f10a', '#00ff94']"
          [wrapContent]="true"
          width="5em"
          borderRadius="50%"
          aspectRatio="1/1"
          (click)="playTimer()"
          padding="0"
        >
          <fa-icon size="2x" [icon]="faPlay"></fa-icon>
        </app-button>
        <app-button
          *ngIf="exerciseTimerState === 'playing'"
          id="b-pause-timer"
          [colors]="['#003bff', '#00c4ff', ]"
          [wrapContent]="true"
          width="5em"
          borderRadius="50%"
          aspectRatio="1/1"
          (click)="pauseTimer()"
          padding="0"
        >
          <fa-icon size="2x" [icon]="faPause"></fa-icon>
        </app-button>
        <app-button
          *ngIf="exerciseTimerState === 'stopped'"
          [isEnabled]="isExerciseExecutionValid"
          id="b-finalize-series"
          [colors]="['#34f10a', '#00ff94']"
          [wrapContent]="true"
          width="5em"
          borderRadius="50%"
          aspectRatio="1/1"
          (click)="isExerciseExecutionValid && finalizeSeries()"
          padding="0"
        >
          <fa-icon size="2x" [icon]="faCheck"></fa-icon>
        </app-button>
      </div>
      <div class="right">
        <app-button
          *ngIf="exerciseTimerState !== 'stopped'"
          [isEnabled]="(exerciseTimerState === 'playing' || exerciseTimerState === 'paused') && exerciseTimer > 0"
          id="b-stop-timer"
          [colors]="['#f10a0a', '#ff77cf']"
          [wrapContent]="true"
          width="5em"
          borderRadius="50%"
          aspectRatio="1/1"
          (click)="((exerciseTimerState === 'playing' || exerciseTimerState === 'paused') && exerciseTimer > 0) && stopTimer()"
          padding="0"
        >
          <fa-icon size="2x" [icon]="faStop"></fa-icon>
        </app-button>
        <app-button
          [isEnabled]="exerciseTimerState !== 'playing'"
          id="b-cancell-timer"
          [colors]="['#f10a0a', '#ff77cf']"
          [wrapContent]="true"
          width="3em"
          borderRadius="50%"
          aspectRatio="1/1"
          (click)="exerciseTimerState !== 'playing' && cancelTimer()"
          padding="0"
        >
          <fa-icon size="2x" [icon]="faCancel"></fa-icon>
        </app-button>
      </div>
    </div>
  </div>
</div>
