<div class="exercise-execution-info-container">
  <div class="media-container">
    <div class="expand">
      <div class="video"></div>
    </div>
    <div class="info">
      <img *ngIf="false" src="'AA'" alt=" ">
      <div class="name"><h4> {{ exercise.name }} </h4></div>
    </div>
  </div>

  <app-exercise-progress-bar [numberOfSeries]="exercise.series" padding="30px 35px"></app-exercise-progress-bar>

  <div class="button-container">
    <div class="previous button"> <fa-icon [icon]="faBackwardStep"></fa-icon>  </div>
    <div class="drawer-container button">
      <div class="hamburger"> <fa-icon [icon]="faBars"></fa-icon> </div>
      <div class="next">
        <span> próximo: </span>
        <div class="next-exercise">
          <!--        TODO: Colocar o nome do próximo exercício no <h5>      -->
          <!--        TODO: tirar a quebra de texto a adicionar deslizamento do texto no overflow -->
          <h5 class="next-name"> Nome do Próximo </h5>
        </div>
      </div>

    </div>
    <div class="play button" (click)="startExercise()"> <fa-icon [icon]="faPlay"></fa-icon> </div>
    <div class="next button"> <fa-icon [icon]="faForwardStep"></fa-icon> </div>
<!--    <app-button-->
<!--      id="b-exercise-back"-->
<!--      [colors]="['#f10a0a', '#ff77cf']"-->
<!--      [wrapContent]="false"-->
<!--      width="100%"-->
<!--      [routerLink]="['/training', 'exercise-select']"-->
<!--    >-->
<!--      Voltar-->
<!--    </app-button>-->
<!--    <app-button-->
<!--      id="b-exercise-proceed"-->
<!--      [colors]="['#0a30f1', '#00ffe1']"-->
<!--      [wrapContent]="false"-->
<!--      width="100%"-->
<!--      (click)="isShowingTimer = true"-->
<!--    >-->
<!--      Prosseguir-->
<!--    </app-button>-->
  </div>
</div>
<div *ngIf="isShowingTimer" class="timer-screen">
  <div class="timer-container">
    <div class="numbers">
      <span *ngIf="isStopped" class="number"> 13 Rep <fa-icon size="sm" [icon]="faPencil"></fa-icon> </span>
      <span class="number out"> 01:05 </span>
      <span *ngIf="isStopped" class="number"> 20 Kg <fa-icon size="sm" [icon]="faPencil"></fa-icon> </span>
    </div>
    <div class="buttons">
      <app-button
        *ngIf="!isStopped"
        id="b-exercise-numbers-stop"
        [colors]="['#f10a0a', '#ff77cf']"
        [wrapContent]="false"
        width="100%"
        (click)="isStopped = true"
      >
        Parar
      </app-button>
      <app-button
        *ngIf="isStopped"
        id="b-exercise-numbers-cancell"
        [colors]="['#f10a0a', '#ff77cf']"
        [wrapContent]="false"
        width="100%"
        (click)="isShowingTimer = false"
      >
        Cancel
      </app-button>
      <app-button
        *ngIf="isStopped"
        id="b-exercise-numbers-confirm"
        [colors]="['#44f10a', '#77ffd6']"
        [wrapContent]="false"
        width="100%"
        (click)="isShowingTimer = false"
      >
        Confirm
      </app-button>
    </div>
  </div>
</div>
