<div class="chart-container">
  <div #summary class="summary">
<!--    <div class="chart-options">-->
<!--      AAA-->
<!--    </div>-->
    <div class="info-container" (click)="toggleActive()">
      <h3> {{ chartData.name }} </h3>
      <div class="series-info">
        <div> <fa-icon [icon]="faClock"></fa-icon> {{ chartData.timeInMinutes }} Minutes </div>
        <div> <fa-icon [icon]="faFire"></fa-icon> {{ chartData.kcal }} Kcal </div>
        <div> <fa-icon [icon]="faRunning"></fa-icon> {{ chartData.exercises.length }} Exercícios </div>
      </div>
    </div>
    <app-button

      padding="30px"
      id="b-start-training"
      borderRadius="20px"
      aspectRatio="1/1"
    >
      <fa-icon [icon]="faPlay"></fa-icon>
    </app-button>
  </div>
  <div class="exercise-list" *ngIf="isActive">
    <table>
      <tr>
        <th>Exercício</th> <th class="table-center">Séries</th> <th class="table-center">Repetições</th>
      </tr>
      <tr *ngFor="let exercise of chartData.exercises">
        <td>{{exercise.name}}</td> <td class="table-center" >{{exercise.series}}</td> <td class="table-center">{{exercise.repetitions}}</td>
      </tr>
    </table>
  </div>
</div>
