.p-inputtext {
  padding: 0.30rem 0.75rem;
}

.p-password-panel {
  background-color: var(--black);
  border: 1px solid var(--yellow);
}

.p-password-meter {
  background-color: var(--brighter-black);
}

.p-password-info {
  color: var(--white);
}

.input-contrast {
  border-radius: 5px !important;
  background-color: var(--black) !important;
  border-color: var(--yellow) !important;
  color: var(--white) !important;
}

.input-contrast.rounded {
  border-radius: 15px !important;
}

.input-contrast:enabled:focus {
  box-shadow: 0 0 5px 1px var(--yellow) !important;
}

.p-inputtext {
  background-color: var(--black);
  border-color: var(--yellow);
  color: var(--white);
  border-radius: 5px;
  padding: 0.50rem 0.75rem;
}

.p-inputtext.rounded {
  border-radius: 15px;
}

.p-inputtext.p-inputnumber-input {
  border-radius: 0;
}

.p-inputtext:enabled:focus {
  box-shadow: 0 0 5px 1px var(--yellow);
}

.p-button-contrast {
  background-color: var(--black);
  border: 1px solid var(--yellow);
}

.p-button-contrast:hover {
  box-shadow: 0 0 5px 1px var(--yellow);
}


.p-datatable .p-datatable-tbody > tr {
  background: transparent;
}

.p-datatable .p-datatable-tbody > tr > td {
  border-bottom: none;
}

.p-datatable .p-datatable-thead > tr > th {
  background: transparent;
  color: var(--yellow);
  border: none;
}
.p-datatable .p-datatable-thead > tr:not(.table-input) > th {
  border-bottom: 1px solid var(--yellow);
}

.edit-button, .add-button {
  color: var(--cyan);

  span{
    color: var(--cyan);
  }

  &:not(:disabled):hover {
    background: rgba(37, 99, 235, 0.19);
    color: #ffffff;
    border-color: #2563eb;

    span {
      color: var(--white);
    }
  }
}

.cancel-button {
  color: var(--red);

  span{
    color: var(--red);
  }

  &:not(:disabled):hover {
    background: rgba(235, 37, 37, 0.19);
    color: #ffffff;
    border-color: #eb2525;

    span {
      color: var(--red);
    }
  }
}

.confirm-button {
  color: var(--green);

  span{
    color: var(--green);
  }

  &:not(:disabled):hover {
    background: rgba(57, 235, 37, 0.19);
    color: #ffffff;
    border-color: #3feb25;

    span {
      color: var(--green);
    }
  }
}

tr.p-element {
  color: var(--white);
}
