/* You can add global styles to this file, and also import other style files */
/*@import "node_modules/normalize.css/normalize.css";*/
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "./primeEdit.css";


:root {
  --dark-blue: #0f101c;
  --darker-blue: #0f0f13;
  --blue: #2805FF;
  --yellow: #FE9800;
  --white: #FEFFDA;
  --white-weak: rgba(254, 255, 218, 0.5);
  --black: #000000;
  --brighter-black: #171717;

  --logo-width: 190px;
  --logo-height: 100px;

  --picture-margin: 30px;
}

* {
  font-family: "Poppins", sans-serif;
}

html {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
  /*pointer-events: auto !important;*/
}

body {
  display: inline-block;
  margin: 0;
  padding: 0;
  width: 100vw;
  overflow: hidden;
  background-color: #000000;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
