/* You can add global styles to this file, and also import other style files */
/*@import "node_modules/normalize.css/normalize.css";*/
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "./primeEdit.css";


:root {
  --dark-blue: #0f101c;
  --darker-blue: #0f0f13;
  --blue: #2805FF;
  --yellow: #FE9800;
  --yellow-glow: rgba(254, 152, 0, 0.24);
  --white: #FEFFDA;
  --white-weak: rgba(254, 255, 218, 0.5);
  --black: #000000;
  --brighter-black: #171717;

  --logo-width: 190px;
  --logo-height: 100px;

  --picture-margin: 30px;
}

* {
  font-family: "Poppins", sans-serif;
}

span {
  color: var(--white);
}

label {
  color: var(--white);
  font-size: 0.8em;
  margin: 5px;
}

html {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  scroll-behavior: auto;
  /*pointer-events: auto !important;*/
}

body {
  display: block;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-color: #000000;
}

.text-center {
  text-align: center;
}

.text-link{
  display: flex;
  justify-content: center;
  width: 100%;
  font-weight: 200;
  font-size: 0.7em;
  a {
    font-size: 1em;
    display: inline;
  }
}

button {
  white-space: nowrap;
}

a {
  position: relative;
  text-decoration: none;
  display: inline-flex;
  font-weight: 300;
  width: 100%;
  align-items: end;
  color: var(--yellow);
  white-space: nowrap;
  transition: text-shadow 0.5s ease-in-out;
}

a:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: var(--yellow);
  height: 1px;
  width: 0;
  transition: width 0.1s ease-in-out;
}
a:hover {
  text-shadow: 1px 1px 5px var(--yellow);
}
a:hover:before {
  width: 98%;
}
