.nav {
  width: 100vw;
  position: fixed;
  top: 0;
  display: inline-flex;
  flex-direction: column;
  z-index: 2;
}

.nav-top {
  display: inline-flex;
  position: relative;
  align-items: start;
  justify-content: center;
  padding: 13px 0;
  overflow: visible;
  transition: background-color 0.5s ease-in-out;
  z-index: 2;
}
.nav-top.nav-hidden {
  background-color: rgba(0, 0, 0, 0);
}
.nav-top.nav-visible {
  background-color: rgb(0, 0, 0);
}
.nav-top .logo {
  transform-origin: top center;
  display: inline-block;
  z-index: 3;
}
.nav-top .logo svg {
  height: auto;
  transition: color 0.5s linear;
}
.nav-top .logo path {
  fill: var(--white);
  stroke: var(--yellow);
  stroke-width: 10px;
  stroke-linejoin: round;
}

.nav-bottom {
  width: 100%;
  height: 10px;
  background-image: linear-gradient(rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
  transition: opacity 0.5s ease-in-out;
  z-index: 1;
}
.nav-bottom.nav-hidden {
  opacity: 0;
}
.nav-bottom.nav-visible {
  opacity: 1;
}

.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.feature-title {
  margin-bottom: 30px;
  padding: 0 20px;
  display: inline-flex;
  width: 100%;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: var(--white);
  font-size: 1.8em;
}

.chart-section {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  height: 100vh;
  width: 100vw;
}
.chart-section .chart-container {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.chart-section .chart-container .chart-wrapper {
  display: inline-flex;
  width: 100vw;
  justify-content: center;
  perspective: 400px;
  overflow: visible;
}
.chart-section .chart-container .chart-wrapper .line-demo {
  display: inline-block;
  transform: rotateY(-30deg);
  transform-origin: center;
  transform-style: preserve-3d;
}
.chart-section .chart-container .chart-wrapper .line-demo .demo-chart {
  z-index: 1;
}

.wave-background {
  transform: translateY(70px);
}

.home-picture {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  background-image: linear-gradient(var(--black), var(--black));
  background-size: cover;
}
.home-picture::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 80%, rgb(0, 0, 0) 100%);
  z-index: 1;
}

.picture-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
}

@keyframes element-load {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes element-unload {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(10px);
  }
}
@keyframes logo-load {
  0% {
    opacity: 0;
    scale: 0.5;
  }
  100% {
    opacity: 1;
    scale: 1;
  }
}
.no-display {
  visibility: hidden;
}

.visible {
  animation: 0.5s ease-out element-load forwards;
}

.hidden:not(.no-display) {
  animation: 0.5s ease-out element-unload forwards;
}

/*# sourceMappingURL=home.component.css.map */
