@mixin wave-background-absolute($position) {

  $verticalDisplacement: -20%;
  $horizontalDisplacement: -25%;

  position: fixed !important;
  transform: rotateZ(-20deg);
  height: 25%;
  width: 120%;
  z-index: -1;

  @if ($position == 'top') {
    top: $verticalDisplacement;
    left: $horizontalDisplacement
  }
  @if ($position == 'bottom') {
    bottom: $verticalDisplacement;
    right: $horizontalDisplacement
  }
}

:host {

  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  .data-form {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    &.visible:not(.disabled-animation) {
      animation: right-to-center 0.5s ease-in-out forwards;
    }
    &.visible.disabled-animation {
      animation: none !important;
      transform: translateX(0);
    }
    &.hidden:not(.disabled-animation) {
      animation: center-to-left 0.5s ease-in-out forwards;
    }
    &.hidden.disabled-animation {
      animation: none !important;;
      transform: translateX(-100%);
    }

  }


  .wave-background-bottom {
    @include wave-background-absolute('bottom');
  }
  .wave-background-top {
    @include wave-background-absolute('top');
  }

}

.form-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 40px 25px;
  width: 100%;
  height: 100%;

  &.compact {
    padding-bottom: 35vh !important;
  }
}

.title {
  margin-top: 0;
  flex-shrink: 0;
  width: 100%;
  font-weight: 600;
  color: var(--yellow);
  text-align: center;
  position: relative;
  padding: 0 10px;

  .return-button {
    text-decoration: none;
    color: var(--yellow);
    width: 20px;
    font-size: 0.7em;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: text-shadow 0.5s ease-out;
  }
}

.welcome {
  flex-shrink: 0;
  color: var(--white);
  text-align: center;

  h2 {
    font-weight: 500;
  }

  span {
    font-weight: 200;
    font-size: 0.8em;
  }
}

.form-container {
  flex-shrink: 1;
  align-items: center;
  min-height: 0;
  width: 100%;
  position: relative;
  mask-image:
    linear-gradient(to bottom,
      transparent,
      black 20px,
      black calc(100% - 20px),
      transparent
    );
  form {
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: visible;
    gap: 6px;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    &::-webkit-scrollbar {
      display: none;
    }
    div {
      padding: 0 5px;
      display: inline-flex;
      flex-direction: column;
      overflow: visible;
    }
  }
}

.text-link {
  flex-shrink: 0;
  justify-content: center;

  &.privacy-terms {
  }

  &.to-register, &.to-login {
    margin-bottom: 0;
  }
}

@keyframes right-to-center {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes center-to-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

// responsiveness

@media only screen and (min-width: 600px) {

  .form-card {
    max-width: 450px;
    max-height: 600px;

    &.compact {
      padding-bottom: 40px !important;
    }
  }

  :host {
    .wave-background-top {
      transform: rotateZ(0) translateX(-10%) translateY(-50%);
      top: 0;
      left: 0;
      height: 60%;
      width: 120%;
    }
    .wave-background-bottom {
      transform: rotateZ(0) translateX(-10%) translateY(50%);
      bottom: 0;
      left: 0;
      height: 60%;
      width: 120%;
    }
  }
}
@media only screen and (max-height: 500px) {
  .welcome {
    span {
      display: none;
    }
  }
  .form-card.compact {
    padding-bottom: 40px !important;
  }
}
@media only screen and (max-height: 350px) {
  .welcome {
    display: none;
  }
}
