<app-svg-generator
  [waveHeight]=this.waveHeight
  [count]=this.count
  [thickness]=this.thickness
  [blur]=this.blur
  [speed]=this.speed
  [opacity]=this.opacity
  id="w-login-t"
  [displacement]=this.displacement
  class="wave-background-top">
</app-svg-generator>

  <app-login class="data-form disabled-animation" [ngClass]="actionType === 'login' ? 'visible' : 'hidden'" id="login"> </app-login>
  <app-register class="data-form disabled-animation" [ngClass]="actionType === 'register' ? 'visible' : 'hidden'" id="register"> </app-register>

<app-svg-generator
  [waveHeight]=this.waveHeight
  [count]=this.count
  [thickness]=this.thickness
  [blur]=this.blur
  [speed]=this.speed
  [opacity]=this.opacity
  [invertColors]="true"
  id="w-login-b"
  [displacement]=this.displacement
  class="wave-background-bottom">
</app-svg-generator>
