$margin-size: 25px;

@mixin wave-background-absolute($position) {

  $verticalDisplacement: -20%;
  $horizontalDisplacement: -25%;

  position: absolute !important;
  transform: rotateZ(-20deg);
  z-index: -1;

  @if ($position == 'top') {
    top: $verticalDisplacement;
    left: $horizontalDisplacement
  }
  @if ($position == 'bottom') {
    bottom: $verticalDisplacement;
    right: $horizontalDisplacement
  }
}

:host {

  width: 100%;
  height: 100%;
  display: flex;
  overflow-y: hidden;
  overflow-x: hidden;
  position: relative;

  .wave-background-bottom {
    @include wave-background-absolute('bottom');
  }
  .wave-background-top {
    @include wave-background-absolute('top');
  }
}

.auth-forms {

  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  .title {
    padding-top: $margin-size;
    margin-top: 0;
    flex-shrink: 0;
    font-weight: 600;
    color: var(--yellow);
  }

  .welcome {
    flex-shrink: 0;
    color: var(--white);
    text-align: center;
    padding: 0 $margin-size;

    h2 {
      font-weight: 500;
    }

    span {
      font-weight: 200;
      font-size: 0.8em;
    }
  }

  .form-container {
    flex-shrink: 1;
    align-items: center;
    min-height: 0;
    width: 100%;
    position: relative;

    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      top: 0;
      right: 0;
      background-image:
        linear-gradient(
            rgba(0, 0, 0, 0),
            rgba(0, 0, 0, 1)
        ),
        linear-gradient(
            rgba(0, 0, 0, 1),
            rgba(0, 0, 0, 0)
        );
      background-position: bottom, top;
      background-size: 100% 20px;
      background-repeat: no-repeat;
      pointer-events: none;
    }

    form {
      padding: 20px 0;
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;
      overflow-y: scroll;
      overflow-x: visible;
      gap: 6px;
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
      &::-webkit-scrollbar {
        display: none;
      }
      div {
        display: inline-flex;
        flex-direction: column;
        overflow: visible;
        padding: 0 $margin-size;
      }
    }
  }
  animation: slide-left 0.5s ease-out forwards;

}

.text-link {
  flex-shrink: 0;
  justify-content: center;

  &.privacy-terms {
    padding: 0 $margin-size;
  }

  &.to-register, &.to-login {
    margin-bottom: 0;
    padding: 0 $margin-size $margin-size $margin-size;
  }
}

@keyframes slide-left {
  from {
    transform: translateX(-100vw);
  }
  to {
    transform: translateX(0);
  }
}
