:host {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
:host .form-card {
  width: 100%;
  height: 100%;
  overflow: hidden;
  max-height: 600px;
  max-width: 500px;
  position: relative;
}
:host .form-card .data-form {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 10px 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
:host .form-card .data-form.visible:not(.disabled-animation) {
  animation: right-to-center 0.5s ease-out forwards;
}
:host .form-card .data-form.visible.disabled-animation {
  animation: none;
  transform: translateX(0);
}
:host .form-card .data-form.hidden:not(.disabled-animation) {
  animation: center-to-left 0.5s ease-out forwards;
}
:host .form-card .data-form.hidden.disabled-animation {
  animation: none;
  transform: translateX(-100%);
}
:host .wave-background-bottom {
  position: fixed !important;
  transform: rotateZ(-20deg);
  height: 25%;
  width: 120%;
  z-index: -1;
  bottom: -20%;
  right: -25%;
}
:host .wave-background-top {
  position: fixed !important;
  transform: rotateZ(-20deg);
  height: 25%;
  width: 120%;
  z-index: -1;
  top: -20%;
  left: -25%;
}

.title {
  margin-top: 0;
  flex-shrink: 0;
  font-weight: 600;
  color: var(--yellow);
}

.welcome {
  flex-shrink: 0;
  color: var(--white);
  text-align: center;
}
.welcome h2 {
  font-weight: 500;
}
.welcome span {
  font-weight: 200;
  font-size: 0.8em;
}

.form-container {
  flex-shrink: 1;
  align-items: center;
  min-height: 0;
  width: 100%;
  position: relative;
  mask-image: linear-gradient(to bottom, transparent, black 20px, black calc(100% - 20px), transparent);
}
.form-container form {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: visible;
  gap: 6px;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.form-container form::-webkit-scrollbar {
  display: none;
}
.form-container form div {
  display: inline-flex;
  flex-direction: column;
  overflow: visible;
}
.form-container form div input {
  overflow: visible !important;
}

.text-link {
  flex-shrink: 0;
  justify-content: center;
}
.text-link.to-register, .text-link.to-login {
  margin-bottom: 0;
}

@keyframes right-to-center {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes center-to-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
@media only screen and (min-width: 600px) {
  .form-card {
    mask-image: linear-gradient(to right, transparent, black 40px, black calc(100% - 40px), transparent);
  }
  .form-card .data-form {
    padding: 35px 65px !important;
  }
  :host .wave-background-top {
    transform: rotateZ(0) translateX(-10%) translateY(-50%);
    top: 0;
    left: 0;
    height: 60%;
    width: 120%;
  }
  :host .wave-background-bottom {
    transform: rotateZ(0) translateX(-10%) translateY(50%);
    bottom: 0;
    left: 0;
    height: 60%;
    width: 120%;
  }
}

/*# sourceMappingURL=user-data.component.css.map */
